.Header {
  background-color: #272121;
  color: beige;
  height: 10vh;
  width: 100vw;
  display: flex;
  position: fixed;
}
.Header h1 {
  /* margin-right: auto; */
  /* margin-left: 2vw; */
  margin: auto auto auto 2vw;
}
